{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Meal</title>
  
{% endblock title %}

{% block newcsslink %}
    <link rel="stylesheet"  href="{% static 'meal/css/meal_style.css' %}">
      
    {% endblock newcsslink  %}



    {% block content %}
    <h1>Here's our Item list</h1>


    

     
       <div class="row d-flex bg-body-tertiary">

        {% for i in Data.categories %}
        
       
          <div class="col-md-4 " style="padding: auto;">
            <div class="card mb-3" style="width: 20rem;">
              <p>{{ i.idCategory }}</p>
              <img src="{{ i.strCategoryThumb }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ i.strCategory }} </h5>
                
                <!-- <p class="card-text"> {{ i.strCategoryDescription }} </p> -->
                <p class="card-text"> {{ i.strCategoryDescription | truncatechars:10 }} </p>
                <a href="#" class="btn btn-primary">Details</a>
               </div>
               </div>
          </div>
             {% endfor %}


        </div>



       

   


     </div>


   
    

    {% endblock %}